.input-fields {
    .required-field {
        display: none;
    }

    &.input-erro {
        .input {
            input {
                border: 1px solid var(--Red-400) !important;
            }
        }

        .required-field {
            display: block;
            color: var(--Red-400);
            font-style: italic;
            margin-top: 3px;
            font-size: 12px;
        }

        label {
            color: var(--Red-400) !important;
        }
    }
}