@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--Grey-100);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-calculator {
    background-color: var(--White);
    width: 800px;
    height: 600px;
    /* max-width: 540px; */
    border-radius: 28px 28px 150px 28px;
    padding: 50px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.input-fields {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .input {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;
            color: var(--Grey-500);
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 3px;
            margin-bottom: 6px;
            margin-left: 5px;
        }

        input {
            width: 150px;
            height: 70px;
            border: solid 1px var(--Grey-100);
            border-radius: 10px;

            font-weight: 700;
            font-size: 28px;
            padding-left: 20px;

            &:hover {
                border-color: var(--Purple-500);
                transition: all 0.3s ease;
            }

            input:required {
                border: red;
            }
        }
    }
}

.divider {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    hr.divider-line {
        border-top: 1px solid var(--Grey-100);
        width: 100%;
    }

    .calculate-btn {
        background-color: var(--Purple-500);
        border-radius: 50%;
        padding: 20px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: var(--Black);
            transition: all 0.3s ease;
        }

        img {
            width: 40px;
            display: flex;
        }
    }
}

.result-container {

    p {
        color: var(--Black);
        font-size: 5.5rem;
        font-weight: 800;
        font-style: italic;
        line-height: 6rem;
    }

    span {
        color: var(--Purple-500);
    }
}

/* ERROR EMPTY */
.input-fields { 
    p {
        display: none;
    }

    .show {
        display: block;
    } 

    .required {
        label {
            color: var(--Red-400);
        }

        input {
            border-color: var(--Red-400);
        }
    }
    .required-field {
        color: var(--Red-400);
        font-style: italic;
        margin-top: 3px;
        font-size: 12px;
    }
}

.input-fields {
    .valid {
        color: var(--Red-400);
        font-style: italic;
        margin-top: 3px;
        font-size: 13px;        
    }
}




