@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variables.css');
@import url('error.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--Grey-100);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* height: clamp(100vh, 100vw, 100vh); */
}

.card-calculator {
    background-color: var(--White);
    width: clamp(350px, 90vw, 800px);
    height: auto;
    border-radius: 28px 28px 150px 28px;
    padding: clamp(20px, 5vw, 56px);
    padding-bottom: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    .input-fields {
        display: flex;
        align-items: center;
        gap: 20px;  
        margin-top: 20px;

        .input {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 600;
                color: var(--Grey-500);
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 3px;
                margin-bottom: 6px;
                margin-left: 5px;
            }

            input {
                width: clamp(85px, 25vw, 150px);
                height: clamp(65px, 10vw, 70px);
                border: solid 1px var(--Grey-100);
                border-radius: 10px;
                font-weight: 700;
                font-size: 28px;
                font-size: clamp(18px, 5vw, 28px);
                padding-left: clamp(10px, 2vw, 20px);

                &:hover {
                    border-color: var(--Purple-500);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
    
    hr.divider-line {
        border: 0;
        border-top: 1px solid var(--Grey-100);
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .calculate-btn {
        background-color: var(--Purple-500);
        border-radius: 50%;
        padding: 20px;
        border: none;

        z-index: 2;;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background-color: var(--Black);
            transition: all 0.3s ease;
        }

        img {
            width: 25px;
            display: flex;
        }
    }
}

.result-container {
    p {
        color: var(--Black);
        font-size: clamp(3.5rem, 12vw, 5.5rem);
        font-weight: 800;
        font-style: italic;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    span {
        color: var(--Purple-500);
    }
}

@media (max-width: 375px) {
    .card-calculator {
        .input-fields {
            justify-content: center;
        }
    }
}

@media (min-width: 768px) {
    .divider {

        padding: 0;

        .calculate-btn {
            padding: 25px;

            img {
                width: 40px;
            }
        }

        hr.divider-line {
            position: relative;
        }
    }
}


